* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width {
    max-width: 1300px;
    padding: 0 100px;
    margin: 0px;
}
/* Section about */
section
{
    padding: 180px 0;
}
.about, .contact
{
    font-family: 'Poppins', sans-serif;
}
.about .about__content, .contact .contact-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .about__title
{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
    padding-bottom: 10px;
    color: #557FED;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
}
section .about__title::before
{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #557FED;
    transform: translateX(-50%);
}
section .about__title::after
{
    content: "";
    position: absolute;
    width: 30px;
    height: 8px;
    background-color: #5C61CA;
    border: 4px solid #F4F6F6;
    left: calc(50% - 22px);
    bottom: -6px;
}

.about .about__content .left
{
    width: 45%;
}
.about .about__content .left img
{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(100%);
}
.about .about__content .left img:hover{
    filter: none;
}
.about .about__content .right
{
    width: 55%;
}
.about .about__content .right .about__column__title
{
    font-size: 25px;
    font-weight: bold;
    color: #557FED;
    margin-bottom: 20px;
    user-select: none;
}
.about .about__content .right .about__column__title span{
    color: #5C61CA;
}
.about .about__content .right p
{
    text-align: justify;
    color: #444;
    margin-bottom: 20px;
}
.about .about__content .right a i{
    display: inline-block;
    width: 10%;
    text-align: center;
    border: 1px solid cornflowerblue;
    padding: 4px;
    border-radius: 6px;
    color: #5C61CA;
}
.about .about__content .right a i:hover{
    background: #C6D0F9;
}
@media (max-width: 991px){
    .about .about__content .column{
        width: 100%;
    }
    .about .about__content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about__content .right{
        flex: 100%;
    }
}

